/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: iconfont;
    src: url('./assets/fonts/createx-icons.ttf');
 }

 .icon-tem{
    font-family: iconfont;
 }